/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;

  }

  .sidebar-nav .navbar ul {
    float: none;
    display: block;
     background:#fff;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
    margin: 5px;

  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
	color:#000;
  }
  .sidebar-nav .more {
    float: right;
}

.sidebar-nav .fa.more:before {
    content: "\f104";
}

.sidebar-nav .active>a>.fa.more:before {
    content: "\f107";
}

}
.formal{
list-style:none;

}
.myNavBarStyle{
  background: #222;
  height:100px;
  color:#ddd;
  padding:5px;
  margin:0px;
}

.firstHeader ul{
  font-size: 90%;


}
.firstHeader ul li {
  
list-style: none;
display: inline;
padding: 5px;

}
.firstHeader ul li a{
  text-decoration: none;
  color: #ddd;
  font-style: italic;
}
.site-footer{
  background-color: #222;
  color: #ddd;
  height: 90px;
  padding-top: 30px;
}
.no-margin{
  margin: 0px;
}

.bottom-navigation ul{
  font-size: 100%;

}
.bottom-navigation ul li{
  list-style: none;
  display: inline;
  padding-left: 20px;
  

}
.bottom-navigation ul li a{
    text-decoration: none;
    color: #ddd;
    font-style: italic;

}
.my-red-color{
  background: #e74c3c;
  border:0;
}
.frontend-button{
  position: relative;
  bottom: 50px;
}
.frontend-thumbnail{        
    width: 300px; // or you could use percentage value for responsive layout
    
    overflow: auto;
}
.description{
  color: #666;
  font-size: 100%;
  margin-top: 2px;
}
.bold-heading{
  font-size: 18px;
  font-style: bold;
}
.my-panel{
  background:#fff;
  
}
.myNavbar{
  height: 80px;
}
.blue-color{

  background: #79A9BF;
}



.admin-nav-right-ul{
  list-style:none;
  margin-top:30px;

}
.admin-nav-right-ul li{
  font-size: 14px;
  display: inline;
  padding: 5px;
   
  list-style: none;

}
.admin-nav-right-ul li a{
  text-decoration: none;
  color:#eee;

}
.admin-nav-right-ul li a:hover{
  color: #fff;

}
.admin-nav-ul{
  list-style:none;
  margin-top:5px;
  font-weight: bold;
}
.admin-nav-ul li{
  font-size: 15px;
  display: inline;
  padding: 15px;
   
  text-align: center;
   
  list-style: none;

}
.admin-nav-ul li a{
  text-decoration: none;
  color:#eee;



}
.admin-nav-ul li a:hover{
  color: #fff;

}
.admin-nav-ul li span{

  font-size: 30px;

  
  
}
.my-button{

  font-weight: bold;
  padding-left:15px;
  padding-right: 15px;
  width: 150px;

}

.my-panel-styles{
  
  
  height: 250px;



  
}
.table{
  display: table;
}
.table ul{
  display: table-row;
}
.table ul li{
  display: table-cell;
  vertical-align: middle;
}

.category-ul li{
  text-decoration: none;
  list-style: none;
}
.category-ul li a{
  text-decoration: none;
  
}
.orderBy{
  background:#E11122; 
  color:#fff; 
  

  font-style:italic; 
  padding:5px;
}
.orderBy a{
  text-decoration: none;
  color: #fff;
}